$very-dark-blue: hsla(218, 11%, 8%, 1);
$dark-blue: hsla(213, 19%, 18%, 1);
$card-gradient: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
$medium-gray: hsla(217, 12%, 54%, 1);
$heading-color: #fff;
$body-color: hsla(216, 12%, 63%, 1);
$accent-color: hsla(25, 97%, 53%, 1);